/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
*.sublime-project
*.sublime-workspace
/storage/logs/*.log
/resources/views/vendor/*
/bootstrap/cache/*
/public/uploads/*
/storage/debugbar/*
/composer.phar
*.sqlite
*.sqlite3
*.backup
*.bak
.DS_Store
Thumbs.db